<div class="outer" (wheel)="onMouseWheel($event)">
  <div style="height: 60%; width: 50%; margin: 0; padding: 0; display: inline-block; float: left;">
    <app-network-diagram></app-network-diagram>
  </div>
  <app-throughput [idName]="'workload1Latency'" [timingData]="currentData" [duration]="duration" [timingType]="LATENCY" [timingMetric]="WORKLOAD1" [timingMetricName]="workload1Latency"></app-throughput> 
  <app-throughput [idName]="'workload2Latency'" [timingData]="currentData" [duration]="duration" [timingType]="LATENCY" [timingMetric]="WORKLOAD2" [timingMetricName]="workload2Latency"></app-throughput> 
  <app-throughput [idName]="'workload1Throughput'" [timingData]="currentData" [duration]="duration" [timingType]="THROUGHPUT" [timingMetric]="WORKLOAD1" [timingMetricName]="workload1Throughput"></app-throughput> 
  <app-throughput [idName]="'workload2Throughput'" [timingData]="currentData" [duration]="duration" [timingType]="THROUGHPUT" [timingMetric]="WORKLOAD2" [timingMetricName]="workload2Throughput"></app-throughput> 
</div>
<div style="position: absolute; top: 20px; left: 20px; width: 20px; height: 20px; cursor: pointer;" (click)="displayDialog()">
  <span class="fa-solid fa-bars"></span>
</div>


<p-dialog [(visible)]="showDialog" header="Workload Management" [modal]="true" [style]="{width: '50vw', height: '75%'}" 
      [draggable]="true" [resizable]="false" [closable]="false" [focusOnShow]="true">

  <p-tabView *ngIf="valuesComputed">
    <p-tabPanel header="Usable Operations" leftIcon="fa-solid fa-table">
      <p-accordion>
        <ng-container *ngFor="let workload of getWorkloads(); let i = index">
          <p-accordionTab header="{{workload.name}}">
            <div class="workload {{workload.name}} mb-2 large-font">
              <span style="font-size: large;">{{workload.description}}</span>
              <div *ngIf="workload.params.length > 0" class="container-fluid">
                <div *ngFor="let param of workload.params; let j = index">
                  <div class="row">
                    <div class="col-3 align-self-center" style="display: inline-block; text-align: right;">
                      <label [for]="workload.workloadId+'-'+param.name">{{param.name}}:</label>
                    </div>
                    <div class="col-9" style="display: inline-block">
                      <p-inputNumber *ngIf="param.type == 'NUMBER'" [id]="workload.workloadId+'-'+param.name" [(ngModel)]="workloadValues[workload.workloadId][param.name]" [min]="param.minValue" [max]="param.maxValue"></p-inputNumber>
                      <p-inputSwitch *ngIf="param.type == 'BOOLEAN'" [id]="workload.workloadId+'-'+param.name" [(ngModel)]="workloadValues[workload.workloadId][param.name]"></p-inputSwitch>
                      <input *ngIf="param.type == 'STRING'" type="text" pInputText [id]="workload.workloadId+'-'+param.name" style="width: 100%;" [name]="workload.workloadId+'-'+param.name" ngDefaultControl [(ngModel)]="workloadValues[workload.workloadId][param.name]"/>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
            <div class="mt-3">
              <p-button icon="fa-solid fa-right-to-bracket" (click)="launchWorkload(workload.workloadId)" label="Run {{workload.name}} Workload"></p-button>
            </div>
          </p-accordionTab>
        </ng-container>
      </p-accordion>
    </p-tabPanel>
    <!--
    <p-tabPanel header="Table Operations" leftIcon="fa-solid fa-table">
      <div>
        <p-button icon="fa-solid fa-table-list" (click)="createTables()" label="Create Tables"></p-button>
        Create the tables for the operations if they do not already exist
      </div>
      <div class="pt-4">
        <p-button icon="fa-solid fa-table-columns" (click)="truncateTables()" label="Truncate Tables"></p-button>
        Truncates the tables. Asssumes the tables exist.
      </div>
    </p-tabPanel>

    <p-tabPanel header="Submissions Workload" leftIcon="fa-solid fa-right-to-bracket">
      <div>
        <div>
          Threads: {{workload1Threads}}
          <p></p>
          <p-slider [(ngModel)]="workload1Threads" [min]="1" [max]="128" ></p-slider>
        </div>
        <div class="mt-2 pt-4">
          Number of Requests: {{workload1Requests}}
          <p></p>
          <p-slider [(ngModel)]="workload1Requests" [min]="1000" [max]="100000" [step]="1000"></p-slider>
        </div>
        <div class="pt-4">
          <p-button icon="fa-solid fa-right-to-bracket" (click)="startSubmissionsWorkload(workload1Threads, workload1Requests)" label="Launch Submission Workload"></p-button>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Update Workload" leftIcon="fa-solid fa-person-running">
      <div>
        <div>
          Threads: {{updateThreads}}
          <p></p>
          <p-slider [(ngModel)]="updateThreads" [min]="1" [max]="128" ></p-slider>
        </div>
        <div class="mt-2 pt-4">
          Number of Requests: {{updateRequests}}
          <p></p>
          <p-slider [(ngModel)]="updateRequests" [min]="1000" [max]="100000" [step]="1000"></p-slider>
        </div>
        <div class="pt-4">
          <p-button icon="fa-solid fa-person-running" (click)="startUpdateWorkload(updateThreads, updateRequests)" label="Launch Update Workload"></p-button>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Status Check Workload" leftIcon="fa-solid fa-circle-question">
      <div>
        <div>
          Threads: {{workload2CheckThreads}}
          <p></p>
          <p-slider [(ngModel)]="workload2CheckThreads" [min]="1" [max]="128" ></p-slider>
        </div>
        <div class="mt-2 pt-4">
          Number of Requests: {{workload2CheckRequests}}
          <p></p>
          <p-slider [(ngModel)]="workload2CheckRequests" [min]="1000" [max]="100000" [step]="1000"></p-slider>
        </div>
        <div class="pt-4">
          <p-button icon="fa-solid fa-person-running" (click)="startStatusCheckWorkload(statusCheckThreads, statusCheckRequests)" label="Launch Status Check Workload"></p-button>
        </div>
      </div>
    </p-tabPanel>
-->
  </p-tabView>

  <div class="status mt-3" style="color: blue">
    {{status}}
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="closeDialog()" label="Close"></p-button>
  </ng-template>
</p-dialog>


